# Ignore dev-studio temporaries
*.ncb
*.suo
*.user
*.tss
*.sdf
*.htm
*.opensdf
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Ignore built files and intermmediates
Build/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
